apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ include "controlplane.organizationName" . }}-config"
  labels:
    {{- include "controlplane.selectorLabelsOrganization" . | nindent 4 }}
data:
  config.toml: |-
    [organization]
    env = "{{ .Values.organization.config.env }}"
    service_accounts = {{ .Values.organization.config.serviceAccounts }}

    [organization.logger]
    level = "{{ .Values.organization.config.logger }}"

    [organization.zitadel]
    instance_url = "{{ .Values.organization.config.zitadel.instanceUrl }}"
    introspection_key_path = "{{ .Values.organization.config.zitadel.introspectionSecret.keyPath }}"
    service_key_path = "{{ .Values.organization.config.zitadel.serviceAccountSecret.keyPath }}"
    jwt_issuer = "{{ .Values.organization.config.zitadel.jwtIssuer }}"