* @holgerson97 @pkgl

charts/knowledgebase @manueleckarth @holgerson97

charts/controlplane/ @roclub/core-team
charts/roclub-conference @roclub/core-team

charts/app @roclub/app-team
charts/controlplane-authz @roclub/app-team
