replicaCount: 1

image:
  repository: harbor.mgt.roclub.io/roclub/roclub/knowledgebase-de
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets:
- name: dockerconfigjson-github-com

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 8080

httpRoute:
  enabled: true
  stage: dev
  hosts:
    - kb.dev.roclub.io 
    - kb1.dev.roclub.io
  tls:
    - secretName: knowledgebase-tls
      hosts: [ kb.dev.roclub.io ]

resources: {}

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
