apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.selectorLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "app.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "app.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          {{- range .Values.env }}
            - name: {{ .name }}
              value: {{ .value | quote }}
          {{- end }}
            - name: AUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-nextjs
                  key: auth_secret
            - name: ZITADEL_ISSUER
              valueFrom:
                secretKeyRef:
                  name: app-nextjs
                  key: zitadel_issuer
            - name: ZITADEL_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: app-nextjs
                  key: zitadel_client_id
            - name: ZITADEL_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-nextjs
                  key: zitadel_client_secret
            - name: NEXTAUTH_URL
              valueFrom:
                secretKeyRef:
                  name: app-nextjs
                  key: nextauth_url
            - name: NEXT_ZITADEL_USER_SA
              valueFrom:
                secretKeyRef:
                  name: app-nextjs
                  key: next_zitadel_user_sa
            - name: NEXT_ZITADEL_SECRET_SA
              valueFrom:
                secretKeyRef:
                  name: app-nextjs
                  key: next_zitadel_secret_sa
            - name: NEXT_PUBLIC_BASE_URL
              valueFrom:
                secretKeyRef:
                  name: app-nextjs
                  key: next_public_base_url
            - name: NEXT_PUBLIC_ZITADEL_BASE_URL
              valueFrom:
                secretKeyRef:
                  name: app-nextjs
                  key: next_public_zitadel_base_url
            - name: ACTIONS_RUNTIME_TOKEN
              valueFrom:
                secretKeyRef:
                  name: app-nextjs
                  key: actions_runtime_token
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /api/readiness
              port: {{ .Values.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/liveness
              port: {{ .Values.service.port }}
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
