nameOverride: ""
fullnameOverride: ""
imagePullSecrets: []

replicaCount: 1

image:
  repository: harbor.mgt.roclub.io/roclub/roclub/roclub-websocket-prod
  pullPolicy: IfNotPresent
  tag: ""

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  annotations: {}
  className: ""
  hosts:
  - host: ""
    paths:
      - path: /
        pathType: Prefix
  tls:
    hosts: []
    secretName: ""
    clusterIssuer: ""
    

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
podAnnotations: {}
podSecurityContext: {}
securityContext: {}

serviceAccount:
  create: true
  annotations: {}
  name: ""

env:
  - name: BUBBLE_WEBHOOK
    value: ""
  - name: BUBBLE_BEARER_TOKEN
    value: ""